In [90]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

In [62]:
data = pd.read_csv('notices.csv')

In [63]:
data.head()

,ID,URL,Notice Type,Publication Date,Project ID,Bid Description,Procurement Type,Deadline Date,Country Code,Country Name,Major Sector
0,91243,{'url': 'http://projects.worldbank.org/procure...,Contract Award,2020-06-23T00:00:00.000,P151072,Repair and Renovation (Roofing work) at LRS of...,NaN,NaN,IN,India,NaN
1,91245,{'url': 'http://projects.worldbank.org/procure...,Invitation for Bids,2020-06-23T00:00:00.000,P157054,MP04 WBN - 02 : Construction of 01 Gravel Road...,Goods and Works,2020-07-14T00:00:00.000,IN,India,NaN
2,87620,{'url': 'http://projects.worldbank.org/procure...,Contract Award,2020-04-21T00:00:00.000,P128628,"Small Contracts Award (DIR,CQS,INDV,SSS)",NaN,NaN,NaN,"Congo, Republic of",NaN
3,88226,{'url': 'http://projects.worldbank.org/procure...,Request for Expression of Interest,2020-05-04T00:00:00.000,P152441,Applied Research Grants Program Selection Comm...,Consultants,2020-05-22T00:00:00.000,GE,Georgia,NaN
4,87625,{'url': 'http://projects.worldbank.org/procure...,Contract Award,2020-04-21T00:00:00.000,P163699,Supply of Rock thin slicer & petrographic tools,NaN,NaN,NaN,Pacific Islands,NaN

In [65]:
df = data[['Notice Type','Bid Description']]

In [66]:
df.head()

,Notice Type,Bid Description
0,Contract Award,Repair and Renovation (Roofing work) at LRS of...
1,Invitation for Bids,MP04 WBN - 02 : Construction of 01 Gravel Road...
2,Contract Award,"Small Contracts Award (DIR,CQS,INDV,SSS)"
3,Request for Expression of Interest,Applied Research Grants Program Selection Comm...
4,Contract Award,Supply of Rock thin slicer & petrographic tools

In [71]:
df.info()
df.describe()
df.isnull().sum()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16498 entries, 0 to 16497
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notice Type      16498 non-null  object
 1   Bid Description  16350 non-null  object
dtypes: object(2)
memory usage: 257.9+ KB

(16498, 2)

In [76]:
dfg = df.dropna()

In [77]:
dfg.isnull().sum()

Notice Type        0
Bid Description    0
dtype: int64

In [78]:
dfg.head()

,Notice Type,Bid Description
0,Contract Award,Repair and Renovation (Roofing work) at LRS of...
1,Invitation for Bids,MP04 WBN - 02 : Construction of 01 Gravel Road...
2,Contract Award,"Small Contracts Award (DIR,CQS,INDV,SSS)"
3,Request for Expression of Interest,Applied Research Grants Program Selection Comm...
4,Contract Award,Supply of Rock thin slicer & petrographic tools

In [82]:
dfg['Notice Type']

0                            Contract Award
1                       Invitation for Bids
2                            Contract Award
3        Request for Expression of Interest
4                            Contract Award
                        ...
16493                   Invitation for Bids
16494                   Invitation for Bids
16495                        Contract Award
16496                        Contract Award
16497                   Invitation for Bids
Name: Notice Type, Length: 16350, dtype: object

In [92]:
dfg['Notice Type'].unique()

array(['Contract Award', 'Invitation for Bids',
       'Request for Expression of Interest',
       'Invitation for Prequalification'], dtype=object)

In [97]:
dfg['Num Type'] = dfg['Notice Type'].map({'Contract Award':0,'Invitation for Bids':1,'Request for Expression of Interest':2,'Invitation for Prequalification':3})
dfg.head()

C:\Users\berna\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Notice Type,Bid Description,Num Type
0,Contract Award,Repair and Renovation (Roofing work) at LRS of...,0
1,Invitation for Bids,MP04 WBN - 02 : Construction of 01 Gravel Road...,1
2,Contract Award,"Small Contracts Award (DIR,CQS,INDV,SSS)",0
3,Request for Expression of Interest,Applied Research Grants Program Selection Comm...,2
4,Contract Award,Supply of Rock thin slicer & petrographic tools,0

In [99]:
xtrain,xtest,ytrain,ytest = train_test_split(dfg['Bid Description'],dfg['Num Type'],random_state=42)

In [109]:
vect = CountVectorizer()
Xtrain = vect.fit_transform(xtrain)
Xtest = vect.transform(xtest)

In [110]:
clf = MultinomialNB().fit(Xtrain,ytrain)

In [111]:
clf

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [112]:
result = clf.predict(Xtest)

In [113]:
print(result)

[2 2 0 ... 2 1 2]

In [114]:
accuracy_score(result,ytest)

0.7942759295499021

In [115]:
np.mean(result == ytest)

0.7942759295499021

In [132]:
def predict_notices(notices):
    test = vect.transform(notices)
    pred= clf.predict(test)
    if pred  == 0:
         return 'Contract Award'
    elif pred == 1:
        return 'Invitation for Bids'
    elif pred == 2:
        return 'Request for Expression of Interest'
    elif pred == 3:
        return 'Invitation for Prequalification'
    else:
        return 'no class found'

In [139]:
x=["Applied Research and small contracts "]
r = predict_notices(x)
print (r)

Contract Award

In [141]:
from sklearn.metrics import confusion_matrix

confusion_matrix(ytest, result)

array([[1719,  317,  226,    1],
       [ 169,  588,   76,    0],
       [  21,   26,  940,    0],
       [   0,    4,    1,    0]], dtype=int64)